:root {
    --mainColor : #0d0c22;
    --textColor : white;
}


*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--mainColor);
    color : var(--textColor);
    font-size:17px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color : inherit;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width:1200px) {

    .container{
        width: 1000px;
    }
    
}

@media (max-width:1000px) {

    .container{
        width: 800px;
    }
    
}

@media (max-width:767px) {

    .container{
        width: 500px;
    }
    
}
