.container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
   
}
.navLinks {
    display:  flex;
    align-items: center;
    gap: 10px;
}
a.logBtn{
    color : var(--mainColor);
    background-color: var(--textColor);
    padding: 5px;
}

span.hamBurger {
    padding:5px ;
    background-color: var(--textColor);
    color : var(--mainColor);
    cursor : pointer;
    display: none;
}
div.mobilenav {
    display: none;
}

@media (max-width:767px) {

    span.hamBurger {
        display: block;
    }

    div.mobilenav{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 100px);
        background-color: var(--mainColor);
        width: 200px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: absolute;
        right: 0;
        z-index: -1;
    }
    div.navLinks {
        display: none;
    }
    
}